In [275]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf 

%matplotlib inline

from datetime import datetime

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [276]:
location = "datasets/kickstartercombo.csv"

df = pd.read_csv(location)

In [277]:
df.shape

(702411, 16)

In [278]:
df.head()

,Unnamed: 0,ID,name,main_category,category,country,state,goal,pledged,currency,launched,deadline,backers,usd pledged,usd_goal_real,usd_pledged_real
0,0,1000002330,The Songs of Adelaide & Abullah,Publishing,Poetry,GB,failed,1000.0,0.0,GBP,2015-08-11 12:12:00,2015-10-09 11:36:00,0,0.0,NaN,NaN
1,1,1000004038,Where is Hank?,Film & Video,Narrative Film,US,failed,45000.0,220.0,USD,2013-01-12 00:20:00,2013-02-26 00:20:00,3,220.0,NaN,NaN
2,2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,US,failed,5000.0,1.0,USD,2012-03-17 03:24:00,2012-04-16 04:24:00,1,1.0,NaN,NaN
3,3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,US,canceled,19500.0,1283.0,USD,2015-07-04 08:35:00,2015-08-29 01:00:00,14,1283.0,NaN,NaN
4,4,1000014025,Monarch Espresso Bar,Food,Restaurants,US,successful,50000.0,52375.0,USD,2016-02-26 13:38:00,2016-04-01 13:38:00,224,52375.0,NaN,NaN

In [279]:
#Find out what columns the data set has
df.columns

Index(['Unnamed: 0', 'ID', 'name', 'main_category', 'category', 'country',
       'state', 'goal', 'pledged', 'currency', 'launched', 'deadline',
       'backers', 'usd pledged', 'usd_goal_real', 'usd_pledged_real'],
      dtype='object')

In [280]:
#look at which categories are most frequent
df['main_category'].mode()

0    Film & Video
dtype: object

In [281]:
df['category'].mode()

0    Product Design
dtype: object

In [282]:
#lookk at the average total amount pledged based on categories (both main and sub-categories)
df.groupby(['main_category','category'])['pledged'].mean().sort_values()

main_category   category
Graphic Novels   Religion               25.000000
Crafts          Crochet                317.257415
                Candles                568.980217
Photography     Places                 813.854630
Crafts          Printing               893.309905
Music           Hip-Hop               1150.490350
Crafts          DIY                   1163.979437
Publishing      Poetry                1258.871557
Food            Bacon                 1307.441127
Publishing      Young Adult           1338.152190
Crafts          Glass                 1406.594205
Journalism      Video                 1442.760952
Food            Events                1451.652849
Publishing      Fiction               1483.527741
Film & Video    Experimental          1545.650880
Photography     Nature                1599.260704
Art             Conceptual Art        1636.587644
Music           Punk                  1648.897370
Food            Community Gardens     1668.545306
Journalism      Photo                 1740.884590
Crafts          Woodworking           1767.384723
Technology      Apps                  1796.634899
Music           R&B                   1829.244186
Crafts          Crafts                1904.480931
Art             Painting              1943.858159
Photography     People                1953.824505
Crafts          Quilts                2042.877483
Food            Food Trucks           2072.545238
Fashion         Couture               2078.548323
Games           Mobile Games          2087.190681
                                         ...
Film & Video    Animation             9839.210967
                Fantasy              10019.245744
                Narrative Film       10472.995903
Design          Civic Design         10842.535169
Theater         Spaces               11190.233750
Film & Video    Movie Theaters       11931.478192
Comics          Webcomics            13670.543342
                Anthologies          15168.897980
Design          Design               17308.712338
Music           Chiptune             17528.961471
Fashion         Footwear             18306.112215
Games           Video Games          18596.303308
Technology      Technology           21419.922819
Design          Typography           23524.355561
Publishing      Letterpress          24406.000000
Technology      DIY Electronics      26062.425215
                Space Exploration    27096.708718
                Flight               27299.453443
Design          Product Design       30523.691409
Music           Comedy               31176.477895
Technology      Gadgets              32413.704790
Games           Tabletop Games       32828.041371
Technology      Robots               33371.841022
Games           Gaming Hardware      43552.618340
Technology      Hardware             44541.772648
                Fabrication Tools    44828.233416
                Wearables            56654.156428
                Sound                65991.003858
                3D Printing          67806.386073
                Camera Equipment     79115.553278
Name: pledged, Length: 171, dtype: float64

In [283]:
#want to look at difference between pledged and goal amount for successful projects, add as column

#first isolate successful projects; create dummy columns, then remove row indices where "successful projects" is False
#create "delta pledged" column to give difference (overaged) between pledged and raised amount
df2 = pd.get_dummies(data=df, columns=['state'])
df3 = df2.drop(['state_canceled','state_failed','state_suspended','state_undefined','state_live'],axis=1)
df3['delta pledged']=df3['usd_pledged_real']-df3['usd_goal_real']
index_not_successful = df3[df3['state_successful']!=1].index
df3.drop(index_not_successful, inplace=True)
df3.head()

,Unnamed: 0,ID,name,main_category,category,country,goal,pledged,currency,launched,deadline,backers,usd pledged,usd_goal_real,usd_pledged_real,state_successful,delta pledged
4,4,1000014025,Monarch Espresso Bar,Food,Restaurants,US,50000.0,52375.0,USD,2016-02-26 13:38:00,2016-04-01 13:38:00,224,52375.0,NaN,NaN,1,NaN
5,5,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,US,1000.0,1205.0,USD,2014-12-01 18:30:00,2014-12-21 18:30:00,16,1205.0,NaN,NaN,1,NaN
10,10,100005484,Lisa Lim New CD!,Music,Indie Rock,US,12500.0,12700.0,USD,2013-03-09 06:42:00,2013-04-08 06:42:00,100,12700.0,NaN,NaN,1,NaN
16,16,1000070642,Mike Corey's Darkness & Light Album,Music,Music,US,250.0,250.0,USD,2012-08-02 14:11:00,2012-08-17 14:11:00,7,250.0,NaN,NaN,1,NaN
18,18,1000072011,CMUK. Shoes: Take on Life Feet First.,Fashion,Fashion,US,20000.0,34268.0,USD,2013-11-25 07:06:00,2013-12-30 07:06:00,624,34268.0,NaN,NaN,1,NaN

In [284]:
df3.sort_values(by=['delta pledged'], ascending=False)

,Unnamed: 0,ID,name,main_category,category,country,goal,pledged,currency,launched,deadline,backers,usd pledged,usd_goal_real,usd_pledged_real,state_successful,delta pledged
481020,481020,1799979574,"Pebble Time - Awesome Smartwatch, No Compromises",Design,Product Design,US,500000.0,20338986.27,USD,2015-02-24 15:44:42,2015-03-28,78471,2.033899e+07,500000.00,20338986.27,1,19838986.27
574004,574004,342886736,COOLEST COOLER: 21st Century Cooler that's Act...,Design,Product Design,US,50000.0,13285226.36,USD,2014-07-08 10:14:37,2014-08-30,62642,1.328523e+07,50000.00,13285226.36,1,13235226.36
613665,613665,545070200,Kingdom Death: Monster 1.5,Games,Tabletop Games,US,100000.0,12393139.69,USD,2016-11-25 06:01:41,2017-01-08,19264,5.228482e+06,100000.00,12393139.69,1,12293139.69
540379,540379,2103598555,"Pebble 2, Time 2 + All-New Pebble Core",Design,Product Design,US,1000000.0,12779843.49,USD,2016-05-24 15:49:52,2016-06-30,66673,1.277984e+07,1000000.00,12779843.49,1,11779843.49
606166,606166,506924864,Pebble: E-Paper Watch for iPhone and Android,Design,Product Design,US,100000.0,10266845.74,USD,2012-04-11 06:59:04,2012-05-19,68929,1.026685e+07,100000.00,10266845.74,1,10166845.74
617611,617611,565687737,The World's Best TRAVEL JACKET with 15 Feature...,Design,Product Design,US,20000.0,9192055.66,USD,2015-07-07 13:52:34,2015-09-03,44949,9.192056e+06,20000.00,9192055.66,1,9172055.66
511402,511402,1955357092,Exploding Kittens,Games,Tabletop Games,US,10000.0,8782571.99,USD,2015-01-20 19:00:19,2015-02-20,219382,8.782572e+06,10000.00,8782571.99,1,8772571.99
330415,330415,1033978702,OUYA: A New Kind of Video Game Console,Games,Gaming Hardware,US,950000.0,8596474.58,USD,2012-07-10 14:44:41,2012-08-09,63416,8.596475e+06,950000.00,8596474.58,1,7646474.58
633380,633380,647013276,"THE 7th CONTINENT – What Goes Up, Must Come Down.",Games,Tabletop Games,US,40000.0,7072757.00,USD,2017-09-26 20:00:02,2017-10-19,43733,1.574140e+06,40000.00,7072757.00,1,7032757.00
399650,399650,1386523707,Fidget Cube: A Vinyl Desk Toy,Design,Product Design,US,15000.0,6465690.30,USD,2016-08-30 22:02:09,2016-10-20,154926,1.377000e+04,15000.00,6465690.30,1,6450690.30
595026,595026,450099426,"The Everyday Backpack, Tote, and Sling",Design,Product Design,US,500000.0,6565782.50,USD,2016-07-13 00:47:35,2016-09-10,26359,1.462611e+06,500000.00,6565782.50,1,6065782.50
353791,353791,1152735261,Pono Music - Where Your Soul Rediscovers Music,Technology,Sound,US,800000.0,6225354.98,USD,2014-03-11 18:30:42,2014-04-15,18220,6.225355e+06,800000.00,6225354.98,1,5425354.98
625576,625576,606910105,Dark Souls™ - The Board Game,Games,Tabletop Games,GB,50000.0,3771474.81,GBP,2016-04-19 20:59:32,2016-05-16,31178,5.342789e+06,72842.76,5494492.81,1,5421650.05
467411,467411,1729796642,ZeTime: World's first smartwatch with hands ov...,Technology,Wearables,US,50000.0,5333792.84,USD,2017-03-23 15:46:47,2017-04-27,26828,5.592170e+05,50000.00,5333792.84,1,5283792.84
338600,338600,1074800880,Bloodstained: Ritual of the Night,Games,Video Games,US,500000.0,5545991.70,USD,2015-05-11 18:58:41,2015-06-13,64867,5.545992e+06,500000.00,5545991.70,1,5045991.70
325623,325623,1009661017,Redefining Italian Luxury Watches - Filippo Lo...,Design,Design,NL,20000.0,4809548.00,EUR,2016-11-16 21:00:44,2016-12-16 00:00:00,18550,2.391507e+05,20877.92,5020667.05,1,4999789.13
686825,686825,919996644,The Everyday Messenger: A Bag For Cameras & Es...,Design,Product Design,US,100000.0,4869472.20,USD,2015-07-23 00:04:24,2015-09-21,17029,4.869472e+06,100000.00,4869472.20,1,4769472.20
613677,613677,545167048,"Gravity: The Weighted Blanket for Sleep, Stres...",Design,Product Design,US,21500.0,4729263.13,USD,2017-04-26 16:46:35,2017-05-31,23805,4.771330e+05,21500.00,4729263.13,1,4707763.13
481267,481267,1801275510,Zombicide: Green Horde,Games,Tabletop Games,US,300000.0,5004494.58,USD,2017-05-30 20:59:20,2017-06-28,27235,1.242109e+06,300000.00,5004494.58,1,4704494.58
615994,615994,557230947,"Bring Reading Rainbow Back for Every Child, Ev...",Technology,Web,US,1000000.0,5408916.95,USD,2014-05-28 15:05:45,2014-07-02,105857,5.408917e+06,1000000.00,5408916.95,1,4408916.95
692323,692323,947809001,Shenmue 3,Games,Video Games,US,2000000.0,6333295.77,USD,2015-06-16 03:51:04,2015-07-18,69320,6.333296e+06,2000000.00,6333295.77,1,4333295.77
630517,630517,632311551,Join The Luxury Watch Revolution - Filippo Loreti,Design,Design,NL,20000.0,3534663.91,EUR,2017-10-19 00:51:24,2017-11-19,16077,7.074227e+05,23754.10,4198137.57,1,4174383.47
324080,324080,1001502333,Pimax: The World's First 8K VR Headset,Technology,Hardware,US,200000.0,4236618.49,USD,2017-09-19 19:02:23,2017-11-03 00:00:00,5946,6.081940e+05,200000.00,4236618.49,1,4036618.49
332758,332758,1045500705,Zombicide: Black Plague,Games,Tabletop Games,US,125000.0,4079204.52,USD,2015-06-08 20:59:38,2015-07-07,20915,4.079205e+06,125000.00,4079204.52,1,3954204.52
588997,588997,419246523,Rising Sun,Games,Tabletop Games,US,300000.0,4228060.00,USD,2017-03-07 21:04:15,2017-04-04,31262,1.627446e+06,300000.00,4228060.00,1,3928060.00
458000,458000,1681361753,Gloomhaven (Second Printing),Games,Tabletop Games,US,100000.0,3999795.77,USD,2017-04-04 17:59:56,2017-05-02,40642,1.384175e+06,100000.00,3999795.77,1,3899795.77
413231,413231,1454565733,Bring Back MYSTERY SCIENCE THEATER 3000,Film & Video,Television,US,2000000.0,5764229.38,USD,2015-11-10 16:49:32,2015-12-12,48270,5.764229e+06,2000000.00,5764229.38,1,3764229.38
405062,405062,1413580257,Amabrush - World's First Automatic Toothbrush,Design,Product Design,AT,50000.0,3198516.10,EUR,2017-07-05 16:20:11,2017-08-05,26832,7.496366e+04,58824.91,3763048.66,1,3704223.75
472335,472335,1755266685,The Veronica Mars Movie Project,Film & Video,Narrative Film,US,2000000.0,5702153.38,USD,2013-03-13 15:42:22,2013-04-13,91585,5.702153e+06,2000000.00,5702153.38,1,3702153.38
657172,657172,768428035,Reaper Miniatures Bones: An Evolution Of Gamin...,Games,Games,US,30000.0,3429235.52,USD,2012-07-24 01:03:12,2012-08-26,17744,3.429236e+06,30000.00,3429235.52,1,3399235.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323659,323659,999449589,When Age Has No Leash. Lessons learned from...,Photography,Animals,US,16000.0,16750.00,USD,2014-08-29 23:52:00,2014-10-03 09:59:00,136,1.675000e+04,NaN,NaN,1,NaN
323660,323660,999477157,HYBRID a Local Art Productions group Art Show,Art,Public Art,US,4300.0,4307.05,USD,2011-08-29 21:45:00,2011-09-18 21:45:00,20,4.307050e+03,NaN,NaN,1,NaN
323661,323661,999481541,CNC BT15/ISO15 ATC Spindle Cartridge and Spind...,Technology,Hardware,US,7500.0,17910.00,USD,2013-06-27 10:16:00,2013-08-16 21:59:00,29,1.791000e+04,NaN,NaN,1,NaN
323663,323663,999489456,Cthulhu's Chaos - Unique Dice Towers,Games,Tabletop Games,US,1000.0,28931.00,USD,2013-08-13 07:11:00,2013-10-12 07:11:00,368,2.893100e+04,NaN,NaN,1,NaN
323665,323665,999499675,Truly Gently presents Theatorium,Film & Video,Animation,CA,5000.0,5140.00,CAD,2013-11-15 15:59:00,2013-12-12 19:59:00,58,4.907961e+03,NaN,NaN,1,NaN
323675,323675,999565609,HELP UNRB GO ON TOUR!,Music,Rock,US,1000.0,2035.05,USD,2012-05-30 02:09:00,2012-07-07 05:59:00,34,2.035050e+03,NaN,NaN,1,NaN
323676,323676,999566709,SlushEngine Stepper Motor Driver - by Roboteurs,Technology,Robots,CA,7500.0,14646.00,CAD,2015-04-17 16:45:00,2015-05-07 16:45:00,69,1.189378e+04,NaN,NaN,1,NaN
323680,323680,999587299,Arcane Sally & Mr. Steam #2,Comics,Comic Books,US,1500.0,6771.00,USD,2016-08-26 01:09:00,2016-09-19 08:59:00,285,1.617000e+03,NaN,NaN,1,NaN
323691,323691,999668351,CAT in WATER,Journalism,Journalism,US,7500.0,8462.00,USD,2011-02-25 00:25:00,2011-05-27 00:25:00,123,8.462000e+03,NaN,NaN,1,NaN
323695,323695,999687927,Reese and Reeves 2: A new novel,Publishing,Fiction,US,1000.0,1214.00,USD,2015-06-03 22:36:00,2015-08-02 22:36:00,47,1.214000e+03,NaN,NaN,1,NaN
323697,323697,999696660,Objects Attack!,Film & Video,Narrative Film,US,5500.0,6023.00,USD,2011-07-05 21:25:00,2011-08-04 21:25:00,79,6.023000e+03,NaN,NaN,1,NaN
323698,323698,999704525,NARCOS: Webseries / TV Pilot,Film & Video,Film & Video,US,1000.0,1303.00,USD,2013-04-05 22:09:00,2013-05-05 22:09:00,19,1.303000e+03,NaN,NaN,1,NaN
323703,323703,999725304,The Mangled (Re-launch),Film & Video,Narrative Film,US,5000.0,15052.00,USD,2013-10-28 18:37:00,2013-12-12 19:37:00,87,1.505200e+04,NaN,NaN,1,NaN
323704,323704,999741441,CORPOREAL,Dance,Dance,US,500.0,505.00,USD,2013-04-25 01:59:00,2013-05-15 01:59:00,14,5.050000e+02,NaN,NaN,1,NaN
323706,323706,999754150,3113: Thesis Exhibition,Art,Mixed Media,US,8000.0,8935.00,USD,2013-02-18 18:46:00,2013-03-20 17:46:00,121,8.935000e+03,NaN,NaN,1,NaN
323707,323707,999762532,Traverse City Dance Project 2012,Dance,Dance,US,7000.0,7120.00,USD,2012-04-08 22:49:00,2012-05-18 22:49:00,75,7.120000e+03,NaN,NaN,1,NaN
323708,323708,999763489,Kronos: Under 30 Project / #5,Music,Classical Music,US,10000.0,12300.00,USD,2011-12-12 21:19:00,2012-02-01 03:00:00,162,1.230000e+04,NaN,NaN,1,NaN
323711,323711,99977482,Language of Love - a new CD from Lisa Deveaux,Music,Indie Rock,US,5000.0,5025.00,USD,2011-02-03 05:21:00,2011-04-05 05:21:00,31,5.025000e+03,NaN,NaN,1,NaN
323715,323715,999796570,M A V A R I,Fashion,Apparel,US,30000.0,42647.00,USD,2014-11-30 03:11:00,2015-01-01 03:00:00,215,4.264700e+04,NaN,NaN,1,NaN
323716,323716,999799441,The Hollywood Kills On Tour,Music,Rock,US,10000.0,10300.00,USD,2012-03-05 23:12:00,2012-05-04 23:12:00,78,1.030000e+04,NaN,NaN,1,NaN
323717,323717,999800713,BETTER DESPERATE,Film & Video,Music Videos,US,300.0,300.00,USD,2016-04-07 20:04:00,2016-05-07 20:04:00,5,3.000000e+02,NaN,NaN,1,NaN
323719,323719,999801508,Competition Finalist,Fashion,Fashion,US,4000.0,4005.00,USD,2013-05-14 01:18:00,2013-06-13 01:18:00,14,4.005000e+03,NaN,NaN,1,NaN
323723,323723,999829547,PookieCat rune cards - funny oracle cards for ...,Art,Illustration,NL,1500.0,1699.00,EUR,2016-05-08 09:33:00,2016-06-07 09:33:00,39,1.937697e+03,NaN,NaN,1,NaN
323724,323724,999832803,MONSTROCARDS- A Creative Drawing Game of Horri...,Games,Playing Cards,US,10000.0,13861.50,USD,2014-09-03 19:53:00,2014-10-03 19:53:00,413,1.386150e+04,NaN,NaN,1,NaN
323729,323729,999877902,Little Saturday's Debut Album,Music,Country & Folk,CA,5000.0,5435.00,CAD,2014-11-17 17:50:00,2014-12-17 17:50:00,78,4.814877e+03,NaN,NaN,1,NaN
323731,323731,999884445,Superette Tea - Boldly Caffeinated Loose Leaf Tea,Food,Drinks,US,5000.0,5579.00,USD,2015-11-03 13:04:00,2015-12-03 13:04:00,103,5.579000e+03,NaN,NaN,1,NaN
323735,323735,999934908,The Manual Bar Blade,Design,Product Design,US,3500.0,6169.00,USD,2015-11-23 07:33:00,2015-12-15 06:59:00,120,6.169000e+03,NaN,NaN,1,NaN
323737,323737,999943841,The Dog Coffee Book,Publishing,Children's Books,US,950.0,1732.02,USD,2013-10-18 21:35:00,2013-11-30 19:03:00,31,1.732020e+03,NaN,NaN,1,NaN
323741,323741,999969812,AT THE BEACH,Music,Classical Music,CA,5000.0,5501.00,CAD,2014-02-20 01:00:00,2014-03-22 00:00:00,78,5.019921e+03,NaN,NaN,1,NaN
323742,323742,999971898,Beach Wrestling Documentary,Film & Video,Documentary,NO,20000.0,21500.00,NOK,2015-03-29 21:30:00,2015-04-28 21:30:00,36,2.698974e+03,NaN,NaN,1,NaN

In [285]:
#want to see the relationship between the number of backers and whether the project is successful

#first, remove projects that are still live

df4 = df[df.state != 'live']

#now clean up by removing columns "Unnamed:0", "ID", "name"

df4 = df4.drop(['Unnamed: 0','ID','name'],axis=1)

#now look at the average number of backers for each project state

df4.groupby(['state'])['backers'].mean()

state
canceled       25.606675
failed         16.576774
successful    259.115265
suspended     108.983759
undefined       0.000000
Name: backers, dtype: float64

In [286]:
#look at correlation table, but have to assign numerical value to project states
#first isolate projects as either failed or successful. 
#For purposes of analysis, classify failed, canceled, suspended as "failed"

#first, remove "undefined". df4 had removed "live" entries, so additionally remove "undefined"
df5 = df4[df4.state != 'undefined']
#get dummy columns for other states
df5 = pd.get_dummies(data=df5, columns=['state'])

#classify anything other than "successful" as "unsuccessful", and add column with this conditional
df5['successful']=np.where((df5['state_successful'] != 1), 0, 1)
dfbinary = df5.drop(['state_failed','state_successful','state_suspended','state_canceled'],axis=1)
dfbinary.head()

,main_category,category,country,goal,pledged,currency,launched,deadline,backers,usd pledged,usd_goal_real,usd_pledged_real,successful
0,Publishing,Poetry,GB,1000.0,0.0,GBP,2015-08-11 12:12:00,2015-10-09 11:36:00,0,0.0,NaN,NaN,0
1,Film & Video,Narrative Film,US,45000.0,220.0,USD,2013-01-12 00:20:00,2013-02-26 00:20:00,3,220.0,NaN,NaN,0
2,Music,Music,US,5000.0,1.0,USD,2012-03-17 03:24:00,2012-04-16 04:24:00,1,1.0,NaN,NaN,0
3,Film & Video,Film & Video,US,19500.0,1283.0,USD,2015-07-04 08:35:00,2015-08-29 01:00:00,14,1283.0,NaN,NaN,0
4,Food,Restaurants,US,50000.0,52375.0,USD,2016-02-26 13:38:00,2016-04-01 13:38:00,224,52375.0,NaN,NaN,1

In [287]:
#now look at correlation table

dfbinary.corr()

,goal,pledged,backers,usd pledged,usd_goal_real,usd_pledged_real,successful
goal,1.000000,0.007129,0.004481,0.005963,0.941676,0.005145,-0.024798
pledged,0.007129,1.000000,0.730699,0.897975,0.005072,0.953367,0.109360
backers,0.004481,0.730699,1.000000,0.706974,0.004544,0.752478,0.124255
usd pledged,0.005963,0.897975,0.706974,1.000000,0.006244,0.908014,0.099553
usd_goal_real,0.941676,0.005072,0.004544,0.006244,1.000000,0.005643,-0.023564
usd_pledged_real,0.005145,0.953367,0.752478,0.908014,0.005643,1.000000,0.110547
successful,-0.024798,0.109360,0.124255,0.099553,-0.023564,0.110547,1.000000

In [288]:
#looks like successful projects are correlated more highly to USD pledged than with number of backers
#also some slight indication that successful projects are correlated to lower funding goals

In [289]:
# now want to add a column that indicates the time to reach goal (deadline - launched), in number of days


dfbinary['launched']= pd.to_datetime(dfbinary['launched'])
dfbinary['deadline']=pd.to_datetime(dfbinary['deadline'])

dfbinary['project duration in days']=(dfbinary['deadline']-dfbinary['launched']).dt.days
dfbinary.head()

,main_category,category,country,goal,pledged,currency,launched,deadline,backers,usd pledged,usd_goal_real,usd_pledged_real,successful,project duration in days
0,Publishing,Poetry,GB,1000.0,0.0,GBP,2015-08-11 12:12:00,2015-10-09 11:36:00,0,0.0,NaN,NaN,0,58
1,Film & Video,Narrative Film,US,45000.0,220.0,USD,2013-01-12 00:20:00,2013-02-26 00:20:00,3,220.0,NaN,NaN,0,45
2,Music,Music,US,5000.0,1.0,USD,2012-03-17 03:24:00,2012-04-16 04:24:00,1,1.0,NaN,NaN,0,30
3,Film & Video,Film & Video,US,19500.0,1283.0,USD,2015-07-04 08:35:00,2015-08-29 01:00:00,14,1283.0,NaN,NaN,0,55
4,Food,Restaurants,US,50000.0,52375.0,USD,2016-02-26 13:38:00,2016-04-01 13:38:00,224,52375.0,NaN,NaN,1,35

In [290]:
dfbinary.dtypes

main_category                       object
category                            object
country                             object
goal                               float64
pledged                            float64
currency                            object
launched                    datetime64[ns]
deadline                    datetime64[ns]
backers                              int64
usd pledged                        float64
usd_goal_real                      float64
usd_pledged_real                   float64
successful                           int64
project duration in days             int64
dtype: object

In [291]:
#also want to add column that calculates pledged amount as a percentage of goal, in its own currency

dfbinary['percent of goal pledged']=(dfbinary['pledged']/dfbinary['goal'])*100
dfbinary.round({'percent of goal pledged':2})

,main_category,category,country,goal,pledged,currency,launched,deadline,backers,usd pledged,usd_goal_real,usd_pledged_real,successful,project duration in days,percent of goal pledged
0,Publishing,Poetry,GB,1000.0,0.00,GBP,2015-08-11 12:12:00,2015-10-09 11:36:00,0,0.000000,NaN,NaN,0,58,0.00
1,Film & Video,Narrative Film,US,45000.0,220.00,USD,2013-01-12 00:20:00,2013-02-26 00:20:00,3,220.000000,NaN,NaN,0,45,0.49
2,Music,Music,US,5000.0,1.00,USD,2012-03-17 03:24:00,2012-04-16 04:24:00,1,1.000000,NaN,NaN,0,30,0.02
3,Film & Video,Film & Video,US,19500.0,1283.00,USD,2015-07-04 08:35:00,2015-08-29 01:00:00,14,1283.000000,NaN,NaN,0,55,6.58
4,Food,Restaurants,US,50000.0,52375.00,USD,2016-02-26 13:38:00,2016-04-01 13:38:00,224,52375.000000,NaN,NaN,1,35,104.75
5,Food,Food,US,1000.0,1205.00,USD,2014-12-01 18:30:00,2014-12-21 18:30:00,16,1205.000000,NaN,NaN,1,20,120.50
6,Food,Drinks,US,25000.0,453.00,USD,2016-02-01 20:05:00,2016-03-17 19:05:00,40,453.000000,NaN,NaN,0,44,1.81
7,Design,Product Design,US,125000.0,8233.00,USD,2014-04-24 18:14:00,2014-05-29 18:14:00,58,8233.000000,NaN,NaN,0,35,6.59
8,Film & Video,Documentary,US,65000.0,6240.57,USD,2014-07-11 21:55:00,2014-08-10 21:55:00,43,6240.570000,NaN,NaN,0,30,9.60
9,Publishing,Nonfiction,CA,2500.0,0.00,CAD,2013-09-09 18:19:00,2013-10-09 18:19:00,0,0.000000,NaN,NaN,0,30,0.00
10,Music,Indie Rock,US,12500.0,12700.00,USD,2013-03-09 06:42:00,2013-04-08 06:42:00,100,12700.000000,NaN,NaN,1,30,101.60
11,Crafts,Crafts,US,5000.0,0.00,USD,2014-09-02 17:11:00,2014-10-02 17:11:00,0,0.000000,NaN,NaN,0,30,0.00
12,Games,Games,US,200000.0,0.00,USD,2016-02-09 23:01:00,2016-03-25 22:01:00,0,0.000000,NaN,NaN,0,44,0.00
13,Design,Design,US,2500.0,664.00,USD,2015-01-29 02:10:00,2015-02-28 02:10:00,11,664.000000,NaN,NaN,0,30,26.56
14,Comics,Comic Books,US,1500.0,395.00,USD,2014-10-09 22:27:00,2014-11-08 22:27:00,16,395.000000,NaN,NaN,0,30,26.33
15,Publishing,Art Books,US,3000.0,789.00,USD,2015-04-10 21:20:00,2015-05-10 21:20:00,20,789.000000,NaN,NaN,0,30,26.30
16,Music,Music,US,250.0,250.00,USD,2012-08-02 14:11:00,2012-08-17 14:11:00,7,250.000000,NaN,NaN,1,15,100.00
17,Food,Food,US,5000.0,1781.00,USD,2012-05-03 17:24:00,2012-06-02 17:24:00,40,1781.000000,NaN,NaN,0,30,35.62
18,Fashion,Fashion,US,20000.0,34268.00,USD,2013-11-25 07:06:00,2013-12-30 07:06:00,624,34268.000000,NaN,NaN,1,35,171.34
19,Theater,Theater,US,3500.0,650.00,USD,2014-05-16 10:10:00,2014-06-15 10:09:00,12,650.000000,NaN,NaN,0,29,18.57
20,Food,Drinks,NO,500.0,48.00,NOK,2015-01-26 19:17:00,2015-02-25 19:17:00,3,6.180008,NaN,NaN,0,30,9.60
21,Comics,Comics,US,175.0,701.66,USD,2014-10-23 17:15:00,2014-11-12 17:15:00,66,701.660000,NaN,NaN,1,20,400.95
22,Music,Music,US,10000.0,15827.00,USD,2010-12-07 23:16:00,2011-01-06 23:16:00,147,15827.000000,NaN,NaN,1,30,158.27
23,Crafts,DIY,GB,12000.0,0.00,GBP,2015-12-06 20:09:00,2016-01-05 20:09:00,0,0.000000,NaN,NaN,0,30,0.00
24,Film & Video,Webseries,CA,17757.0,48905.00,CAD,2014-11-14 18:02:00,2014-12-14 18:02:00,571,43203.251140,NaN,NaN,1,30,275.41
25,Comics,Comics,GB,100.0,112.38,GBP,2015-12-29 16:59:00,2016-01-28 16:59:00,27,167.700306,NaN,NaN,1,30,112.38
26,Food,Food Trucks,GB,3500.0,21.00,GBP,2015-03-01 18:06:00,2015-03-31 18:06:00,1,32.415261,NaN,NaN,0,30,0.60
27,Design,Product Design,US,1000.0,47266.00,USD,2016-09-07 13:14:00,2016-10-08 02:00:00,549,11253.000000,NaN,NaN,1,30,4726.60
28,Design,Product Design,AU,2000.0,2000.00,AUD,2015-07-23 03:09:00,2015-08-22 03:09:00,18,1473.618900,NaN,NaN,1,30,100.00
29,Art,Public Art,US,25000.0,1395.00,USD,2013-02-12 01:07:00,2013-03-24 00:07:00,30,1395.000000,NaN,NaN,0,39,5.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702381,Games,Playing Cards,US,10000.0,13861.50,USD,2014-09-03 19:53:50,2014-10-03 00:00:00,413,13861.500000,10000.00,13861.50,1,29,138.62
702382,Film & Video,Comedy,US,12000.0,0.00,USD,2014-05-06 23:50:34,2014-06-05 00:00:00,0,0.000000,12000.00,0.00,0,29,0.00
702383,Fashion,Apparel,US,25000.0,11643.00,USD,2014-11-13 17:16:17,2014-12-13 00:00:00,97,11643.000000,25000.00,11643.00,0,29,46.57
702384,Photography,Photography,US,4000.0,3531.00,USD,2010-11-08 02:43:59,2011-01-08 00:00:00,37,3531.000000,4000.00,3531.00,0,60,88.28
702385,Publishing,Nonfiction,US,800.0,70.00,USD,2015-08-25 22:37:14,2015-09-24 00:00:00,5,70.000000,800.00,70.00,0,29,8.75
702386,Music,Country & Folk,CA,5000.0,5435.00,CAD,2014-11-17 17:50:12,2014-12-17 00:00:00,78,4814.880000,4311.83,4686.96,1,29,108.70
702387,Film & Video,Shorts,US,10000.0,10245.00,USD,2017-08-29 06:57:28,2017-10-13 00:00:00,123,145.000000,10000.00,10245.00,1,44,102.45
702388,Publishing,Nonfiction,US,5000.0,18.00,USD,2014-07-15 02:10:39,2014-08-15 00:00:00,5,18.000000,5000.00,18.00,0,30,0.36
702389,Food,Drinks,US,5000.0,5579.00,USD,2015-11-03 13:04:14,2015-12-03 00:00:00,103,5579.000000,5000.00,5579.00,1,29,111.58
702390,Publishing,Fiction,US,1000.0,100.00,USD,2014-08-08 21:49:31,2014-09-11 00:00:00,2,100.000000,1000.00,100.00,0,33,10.00
702391,Design,Product Design,CH,80000.0,0.00,CHF,2015-07-06 18:00:47,2015-09-04 00:00:00,0,0.000000,82207.27,0.00,0,59,0.00
702392,Games,Tabletop Games,FR,1000.0,1246.00,EUR,2017-10-04 11:26:44,2017-10-31 00:00:00,35,66.720000,1165.70,1452.47,1,26,124.60
702393,Technology,3D Printing,US,6500.0,0.00,USD,2014-05-05 20:22:45,2014-05-26 00:00:00,0,0.000000,6500.00,0.00,0,20,0.00
702394,Design,Product Design,US,3500.0,6169.00,USD,2015-11-23 07:33:14,2015-12-15 00:00:00,120,6169.000000,3500.00,6169.00,1,21,176.26
702395,Comics,Comics,GB,16000.0,2738.00,GBP,2013-09-10 22:45:26,2013-10-10 00:00:00,38,4281.150000,25566.05,4374.99,0,29,17.11
702396,Publishing,Children's Books,US,950.0,1732.02,USD,2013-10-18 21:35:04,2013-11-30 00:00:00,31,1732.020000,950.00,1732.02,1,42,182.32
702397,Publishing,Nonfiction,US,4999.0,980.00,USD,2012-08-15 17:11:00,2012-09-14 00:00:00,16,980.000000,4999.00,980.00,0,29,19.60
702398,Games,Tabletop Games,US,500.0,121.00,USD,2016-01-24 16:03:27,2016-02-23 00:00:00,5,121.000000,500.00,121.00,0,29,24.20
702399,Film & Video,Narrative Film,US,500.0,135.00,USD,2017-02-08 02:28:44,2017-04-09 00:00:00,6,45.000000,500.00,135.00,0,59,27.00
702400,Technology,Apps,US,6000.0,0.00,USD,2016-07-29 15:36:29,2016-09-05 00:00:00,0,0.000000,6000.00,0.00,0,37,0.00
702401,Music,Classical Music,CA,5000.0,5501.00,CAD,2014-02-20 01:00:16,2014-03-22 00:00:00,78,5019.920000,4529.81,4983.69,1,29,110.02
702402,Film & Video,Documentary,NO,20000.0,21500.00,NOK,2015-03-29 21:30:33,2015-04-28 00:00:00,36,2698.970000,2675.19,2875.83,1,29,107.50
702403,Film & Video,Documentary,US,1700.0,25.00,USD,2012-02-15 04:31:10,2012-03-16 00:00:00,1,25.000000,1700.00,25.00,0,29,1.47
702404,Food,Small Batch,US,6500.0,154.00,USD,2017-03-20 22:08:22,2017-04-19 00:00:00,4,0.000000,6500.00,154.00,0,29,2.37
702405,Publishing,Poetry,CA,5500.0,0.00,CAD,2014-08-06 03:46:07,2014-09-20 00:00:00,0,0.000000,4949.60,0.00,0,44,0.00
702406,Film & Video,Documentary,US,50000.0,25.00,USD,2014-09-17 02:35:30,2014-10-17 00:00:00,1,25.000000,50000.00,25.00,0,29,0.05
702407,Film & Video,Narrative Film,US,1500.0,155.00,USD,2011-06-22 03:35:14,2011-07-19 00:00:00,5,155.000000,1500.00,155.00,0,26,10.33
702408,Film & Video,Narrative Film,US,15000.0,20.00,USD,2010-07-01 19:40:30,2010-08-16 00:00:00,1,20.000000,15000.00,20.00,0,45,0.13
702409,Technology,Technology,US,15000.0,200.00,USD,2016-01-13 18:13:53,2016-02-13 00:00:00,6,200.000000,15000.00,200.00,0,30,1.33
702410,Art,Performance Art,US,2000.0,524.00,USD,2011-07-19 09:07:47,2011-08-16 00:00:00,17,524.000000,2000.00,524.00,0,27,26.20

In [292]:
dfbinary.corr()

,goal,pledged,backers,usd pledged,usd_goal_real,usd_pledged_real,successful,project duration in days,percent of goal pledged
goal,1.000000,0.007129,0.004481,0.005963,0.941676,0.005145,-0.024798,0.004089,-0.000469
pledged,0.007129,1.000000,0.730699,0.897975,0.005072,0.953367,0.109360,0.000627,0.008669
backers,0.004481,0.730699,1.000000,0.706974,0.004544,0.752478,0.124255,-0.000919,0.016796
usd pledged,0.005963,0.897975,0.706974,1.000000,0.006244,0.908014,0.099553,0.000667,0.006725
usd_goal_real,0.941676,0.005072,0.004544,0.006244,1.000000,0.005643,-0.023564,0.004194,-0.000452
usd_pledged_real,0.005145,0.953367,0.752478,0.908014,0.005643,1.000000,0.110547,0.000931,0.008990
successful,-0.024798,0.109360,0.124255,0.099553,-0.023564,0.110547,1.000000,-0.025201,0.014480
project duration in days,0.004089,0.000627,-0.000919,0.000667,0.004194,0.000931,-0.025201,1.000000,0.000183
percent of goal pledged,-0.000469,0.008669,0.016796,0.006725,-0.000452,0.008990,0.014480,0.000183,1.000000

In [293]:
dfbinary.count()

main_category               688049
category                    688049
country                     688049
goal                        688049
pledged                     688049
currency                    688049
launched                    688049
deadline                    688049
backers                     688049
usd pledged                 687581
usd_goal_real               372300
usd_pledged_real            372300
successful                  688049
project duration in days    688049
percent of goal pledged     688049
dtype: int64

In [294]:
#indicates that success is correlated to # of backers more than amount pledged
#also that it is negatively correlated to project duration

In [295]:
#now want to see the average number of backers and the average project duration for each project type
dfbinarygrouped = dfbinary.groupby(['main_category','category'])['backers','project duration in days'].mean()
dfbinarygrouped.reset_index()
dfbinarygrouped.rename(columns={'backers':'mean backers','project duration in days':'mean days duration'}, inplace=True)
dfbinarygrouped.head()

                              mean backers  mean days duration
main_category category
Art           Art                44.021707           34.332335
              Ceramics           48.131931           30.753346
              Conceptual Art     27.353002           31.946687
              Digital Art        32.861179           31.724816
              Illustration       62.554634           30.107426

In [296]:
# now sort by number of backers and then by mean days duration
dfbinarygrouped.sort_values(by=['mean backers', 'mean days duration'],ascending=False)

                                  mean backers  mean days duration
main_category  category
Music          Chiptune             455.823529           33.161765
Games          Tabletop Games       421.439795           30.473188
Technology     Camera Equipment     403.133523           33.569602
Games          Video Games          387.619074           33.379496
Technology     Wearables            374.339450           35.026557
               Sound                355.462087           33.983051
               Space Exploration    327.226876           34.448517
Design         Typography           324.384615           31.912088
Technology     Hardware             318.381595           35.014226
               Gadgets              312.412762           35.075972
Games          Gaming Hardware      301.218206           33.603748
Comics         Anthologies          297.788856           30.217009
Design         Product Design       277.749336           34.264795
Publishing     Letterpress          270.400000           30.500000
Technology     DIY Electronics      264.265734           32.294342
Comics         Webcomics            254.683258           31.545701
Technology     3D Printing          234.479902           32.880230
Music          Comedy               231.222222           26.944444
Publishing     Comedy               180.458333           29.583333
Design         Design               172.104734           37.212113
Technology     Robots               171.403579           35.403579
               Technology           169.712788           35.235355
               Flight               163.586650           33.938383
Publishing     Anthologies          159.819048           32.915873
Games          Playing Cards        156.215990           30.732697
Comics         Graphic Novels       153.662975           32.648418
Publishing     Radio & Podcasts     148.820782           32.043199
Fashion        Footwear             135.319898           32.951376
Film & Video   Animation            130.940411           36.118968
Comics         Comics               129.882733           35.461466
...                                        ...                 ...
Art            Textiles              24.684435           32.417910
Publishing     Poetry                24.542702           33.562112
Art            Video Art             23.985507           32.713043
Technology     Apps                  23.121741           34.677751
Food           Bacon                 22.954869           32.624703
Journalism     Photo                 22.841667           31.847222
Crafts         Quilts                22.626667           30.213333
Games          Live Games            22.102809           34.108638
Art            Painting              21.996407           32.379879
Dance          Workshops             20.812500           32.684028
Food           Food Trucks           20.587606           34.613086
Publishing     Young Adult           20.135709           32.437971
Games          Mobile Games          19.883006           32.098605
Crafts         Woodworking           19.842055           30.198272
Music          Hip-Hop               19.723352           35.203221
Food           Community Gardens     19.426763           35.746835
Crafts         Printing              18.889157           31.583133
               Glass                 18.480916           31.175573
               DIY                   18.350073           32.285227
Food           Farmer's Markets      17.876141           33.058670
Journalism     Video                 17.575558           32.982917
Film & Video   Experimental          17.008008           31.764765
Photography    Nature                16.096408           31.630435
Food           Events                14.177393           32.311881
Crafts         Embroidery            13.046632           30.834197
Fashion        Couture               12.245473           32.758551
Photography    Places                12.238199           32.061728
Crafts         Candles               12.104516           30.707097
               Crochet                8.136519           30.986348
Graphic Novels  Religion              1.000000           29.000000

[171 rows x 2 columns]

In [297]:
#now want to look at the median number of backers
dfbinarygrouped['mean backers'].median()

48.709642548284805

In [298]:
#see if can get logistical regression model to predict success

#remove null values for USD_goal_real, usd pledged, and USD_pledged_real

dfmodel.isnull().sum()

goal                        0
pledged                     0
backers                     0
usd pledged                 0
usd_goal_real               0
usd_pledged_real            0
successful                  0
project duration in days    0
percent of goal pledged     0
dtype: int64

In [299]:
dfbinary1 = dfbinary.dropna()
dfbinary1.isnull().sum()

main_category               0
category                    0
country                     0
goal                        0
pledged                     0
currency                    0
launched                    0
deadline                    0
backers                     0
usd pledged                 0
usd_goal_real               0
usd_pledged_real            0
successful                  0
project duration in days    0
percent of goal pledged     0
dtype: int64

In [307]:
#isolate variables that I think are most highly correlated: 

dfmodel = dfbinary1.drop(['launched','deadline','currency','main_category','category','country'],axis=1)
dfmodel.dtypes

goal                        float64
pledged                     float64
backers                       int64
usd pledged                 float64
usd_goal_real               float64
usd_pledged_real            float64
successful                    int64
project duration in days      int64
percent of goal pledged     float64
dtype: object

In [301]:
#create logistical regression model to predict success

y = dfmodel['successful']
x = dfmodel.drop(['successful'], axis=1)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=15)
LogReg = LogisticRegression()
LogReg.fit(x_train, y_train)

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [302]:
LogReg.score(x_train, y_train)

0.9924341176944889

In [303]:
y_pred = LogReg.predict(x_test)

In [305]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      0.99      0.99     47493
           1       0.98      1.00      0.99     26921

   micro avg       0.99      0.99      0.99     74414
   macro avg       0.99      0.99      0.99     74414
weighted avg       0.99      0.99      0.99     74414

In [ ]:
#My models indicate that focusing on number of backers, project duration, and project goal correlates most highly to prediciton of success